.feedback{
      color: #34C94B;  
      background-color:#121212 ;
      border-radius: 12px;
      height: 47px;
      width: 170px;
      padding: 10px 16px 10px 16px;
      border: 1px;
      border-color: #34C94B;
      font-size: medium;
      cursor: pointer;
}